@import "tailwindcss";

@plugin "daisyui" {
   themes: light --default;
}
html {
  scroll-behavior: smooth;
}
@layer components {
    .max-container {
        max-width: 1440px;
        margin: 0 auto;
    }

    .padding-x{
        padding-left: 4%;
        padding-right: 4%;
    }
    .padding-y{
        padding-top: 4%;
        padding-bottom: 4%;
    }
    
}
